## Análisis Precipitación Total Parque Nacional Terepaima

**PROYECTO:** SISTEMA PARA EL SEGUIMIENTO DE ECOSISTEMAS VENEZOLANOS \
**AUTOR:** Javier Martinez

Directorio de trabajo

In [10]:
import os

print('> Directorio actual: ', os.getcwd())  
os.chdir('../')
print('> Directorio actual: ', os.getcwd())

> Directorio actual:  /media/javier/Compartida/doctorado/ssev-analytics
> Directorio actual:  /media/javier/Compartida/doctorado

In [11]:
from utils.MONGO import CONEXION
from datetime import datetime
import pandas as pd

# Creando Coenxión con Mongo DB

In [12]:
# Creando la conexión con MongoDB
db = CONEXION.conexion()
db.list_collection_names()

['meteorological', 'estimateSSTNino34', 'SSTNino34']

# Descargando la Información Precipitación

In [13]:
# Parque
park = 'terepaima'

# Realizando consulta
meteorological = db.meteorological.find({"park":park})

# Generando pandas dataframe
data_pandas = pd.DataFrame([file for file in meteorological])
data_pandas['periodo'] = data_pandas.time.apply(lambda x: datetime.fromordinal(x))
data_pandas.index = pd.to_datetime(data_pandas.periodo)
data_pandas.head()

,_id,id_point,park,time,elevacion_maxima,elevacion_media,elevacion_mediana,latitud,longitud,ndvi_maxima,ndvi_media,ndvi_mediana,precipitacion_mm,time_actualizacion,periodo
periodo,,,,,,,,,,,,,,,
1970-01-01,63398c34eed0e0231b35b3bf,1,terepaima,719163,1632.0,1001.651794,986.0,9.96,-69.38,NaN,NaN,NaN,1.698088,738430,1970-01-01
1970-01-01,63398c34eed0e0231b35b3cf,2,terepaima,719163,1556.0,896.212402,875.0,9.96,-69.28,NaN,NaN,NaN,1.375303,738430,1970-01-01
1970-01-01,63398c34eed0e0231b35b3dd,3,terepaima,719163,755.0,470.032227,462.0,9.96,-69.18,NaN,NaN,NaN,1.234049,738430,1970-01-01
1970-01-01,63398c34eed0e0231b35b3f6,4,terepaima,719163,1922.0,1273.258179,1264.0,9.86,-69.38,NaN,NaN,NaN,2.647525,738430,1970-01-01
1970-01-01,63398c34eed0e0231b35b419,5,terepaima,719163,1622.0,1118.260376,1172.0,9.86,-69.28,NaN,NaN,NaN,2.170181,738430,1970-01-01

In [14]:
# Registros
print(data_pandas.shape)

(5661, 15)

In [15]:
# Data disponible
print(data_pandas.index.min())
print(data_pandas.index.max())

1970-01-01 00:00:00
2022-05-01 00:00:00

In [16]:
# Cantidad de registros
data_pandas[[ 'id_point','latitud', 'longitud','precipitacion_mm']]\
    .groupby(['id_point','latitud', 'longitud'],as_index=False)\
    .count()

   id_point  latitud  longitud  precipitacion_mm
0         1     9.96    -69.38               629
1         2     9.96    -69.28               629
2         3     9.96    -69.18               629
3         4     9.86    -69.38               629
4         5     9.86    -69.28               629
5         6     9.86    -69.18               629
6         7     9.76    -69.38               629
7         8     9.76    -69.28               629
8         9     9.76    -69.18               629

In [17]:
data_pandas.columns

Index(['_id', 'id_point', 'park', 'time', 'elevacion_maxima',
       'elevacion_media', 'elevacion_mediana', 'latitud', 'longitud',
       'ndvi_maxima', 'ndvi_media', 'ndvi_mediana', 'precipitacion_mm',
       'time_actualizacion', 'periodo'],
      dtype='object')